name: Distribute to Firebase

on:
  workflow_dispatch:
    
permissions:
  id-token: write
  contents: read

jobs:
  build-ipa:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Build IPA
        uses: ./.github/actions/build-ipa
        with:
          certificate_p12_base64: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_P12_BASE64 }}
          certificate_password: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_PASSPHRASE }}
          provisioning_profile_base64: ${{ secrets.MPARTICLE_ENTERPRISE_PROVISIONING_PROFILE_BASE64 }}

  publish-build-to-firebase:
    runs-on: macos-15
    needs: build-ipa

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Download IPA artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: release-ipa
          path: .

      - name: Upload IPA to Firebase
        uses: ./.github/actions/upload-ipa
        with:
          ipa_path: RoktDemo.ipa
          service_account: ${{ secrets.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          firebase_app_id: ${{ secrets.FIREBASE_APP_ID }}
          testing_groups: ${{ secrets.TESTING_GROUPS }}
