name: Distribute to Firebase

on:
  workflow_dispatch:
    
permissions:
  id-token: write
  contents: read

jobs:
  build-ipa:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Build IPA
        uses: ./.github/actions/build-ipa
        with:
          certificate_p12_base64: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_P12_BASE64 }}
          certificate_password: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_PASSPHRASE }}
          provisioning_profile_base64: ${{ secrets.MPARTICLE_ENTERPRISE_PROVISIONING_PROFILE_BASE64 }}

  publish-build-to-firebase:
    runs-on: macos-15
    needs: build-ipa

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download IPA artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: release-ipa
          path: .

      - name: Upload IPA to Firebase
        uses: ./.github/actions/upload-ipa
        with:
          ipa_path: RoktDemo.ipa
          service_account: ${{ secrets.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          firebase_app_id: ${{ secrets.FIREBASE_APP_ID }}
          testing_groups: ${{ secrets.TESTING_GROUPS }}
