name: Release iOS Demo App

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: write

jobs:
  build-ipa:
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: ./.github/actions/setup-xcode

      - name: Build IPA
        uses: ./.github/actions/build-ipa
        with:
          certificate_p12_base64: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_P12_BASE64 }}
          certificate_password: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_PASSPHRASE }}
          provisioning_profile_base64: ${{ secrets.MPARTICLE_ENTERPRISE_PROVISIONING_PROFILE_BASE64 }}

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: RoktDemo.ipa
          path: build/RoktDemo.ipa
