name: Trigger Snapshot build to Firebase

on:
  repository_dispatch:
    types:
      - snapshot-build

permissions:
  id-token: write
  contents: read

env:
  VERSION_NAME: ${{ github.event.client_payload.version_name }}
  RELEASE_NOTES: ${{ github.event.client_payload.release_notes }}

jobs:
  build-ipa:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Update SPM package version
        uses: ./.github/actions/update-spm-package
        with:
          version: ${{ env.VERSION_NAME }}

      - name: Update Xcode version
        run: |
          set -euo pipefail
          : "${VERSION_NAME:?Missing VERSION_NAME}"
          BUILD_NUMBER="${GITHUB_RUN_NUMBER:?Missing GITHUB_RUN_NUMBER}"
      
          PBXPROJ="$(find . -name 'project.pbxproj' -path '*/*.xcodeproj/*' | head -n1)"
          /usr/bin/sed -i "" -E "s/(MARKETING_VERSION *= *)[^;]+/\\1${VERSION_NAME}/g" "$PBXPROJ"
          /usr/bin/sed -i "" -E "s/(CURRENT_PROJECT_VERSION *= *)[^;]+/\\1${BUILD_NUMBER}/g" "$PBXPROJ"
    
      - name: Build IPA
        uses: ./.github/actions/build-ipa
        with:
            certificate_p12_base64: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_P12_BASE64 }}
            certificate_password: ${{ secrets.MPARTICLE_ENTERPRISE_CERTIFICATE_PASSPHRASE }}
            provisioning_profile_base64: ${{ secrets.MPARTICLE_ENTERPRISE_PROVISIONING_PROFILE_BASE64 }}
  
      - name: Upload IPA
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
            name: release-ipa
            path: build/RoktDemo.ipa

  publish-build-to-firebase:
    runs-on: macos-15
    needs: build-ipa

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download IPA artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: release-ipa
          path: .

      - name: Upload IPA
        uses: ./.github/actions/upload-ipa
        with:
            ipa_path: RoktDemo.ipa
            service_account: ${{ secrets.SERVICE_ACCOUNT }}
            workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
            firebase_app_id: ${{ secrets.FIREBASE_APP_ID }}
            testing_groups: ${{ secrets.TESTING_GROUPS }}
            release_notes: ${{ env.RELEASE_NOTES }}